// Variables
// =========

$breakpoints: (
    x-small: 200px,
    small: 500px,
    medium: 750px,
    large: 1000px,
    x-large: 1200px,
);

$brandColor: #EDA047;
$inputHeight: 40px;
$defaultMargin: 30px;
$defaultFontSize: 14px;
