<div class="card center-text-below-medium" ng-repeat="todo in $ctrl.todos">
    <div class="split-container">
        <div>
            <p>{{ todo.description }}</p>
            <p>Due: {{ todo.due | date: 'dd/MM-yyyy' }}</p>
        </div>
        <div>
            <button class="inline" ui-sref="edit({id: todo._id})">Edit</button>
            <button class="inline" ng-click="$ctrl.delete(todo)">Delete</button>
        </div>
    </div>
</div>

<form class="card" novalidate ng-submit="$ctrl.submit()">

    <div class="input-container">
        <input ng-model="$ctrl.newTodo.description" id="description">
        <label for="description">Description</label>
    </div>

    <div class="input-container">
        <input type="date" ng-model="$ctrl.newTodo.due" id="due">
        <label for="due">Due</label>
    </div>

    <button type="submit">Store todo</button>
</form>
