<!doctype html>
<html ng-app="app" ng-strict-di>
    <head>
        <meta charset="utf-8">
        <title ng-bind-html="title"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="angular-material.css">
        <link rel="stylesheet" href="styles.css">
        <base href="/">
    </head>

    <body class="Site" ng-cloak>

        <header class="Site-header">
            <h1>Todo inc.</h1>
            <nav>
                <a href="#">Lorem</a>
                <a href="#">Ipsum</a>
                <a href="#">Dolor</a>
                <a href="#">Sit</a>
                <a href="#">Amet</a>
            </nav>
        </header>

        <main class="Site-content" ui-view></main>

        <footer class="Site-footer text-center">
            <a href="mailto:adrianhelvik100@gmail.com">
                Send me an email
            </a>
        </footer>

        <script src="bundle.js"></script>
    </body>
</html>
